.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

input {
  height: 45px;
  width: 100px;
  font-size: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  margin-left: 20px;
  outline: none;
}


span {
  height: 50px;
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px;
  color: green;
  background: white;
}

.counter {
  font-size: 180px;
  color: darkgreen;
}

.max-counter {
  font-size: 180px;
  color: red;
}

button {
  width: 120px;
  height: 50px;
  margin: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.red {
  color: red;
  border: 2px solid red;
  animation: blink_shadow 1000ms infinite;
}

.disabled {
  opacity: 0.5;
}

.btn_add:hover {
  box-shadow: 0 0 40px 40px green inset;
  background: green;
  color: whitesmoke;
  animation: blink_addButton 1000ms infinite;
}

.btn_reset:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
  background-color: red;
  color: whitesmoke;
  animation: blink_shadow 1000ms infinite;
}

@keyframes blink_shadow {
   0% { box-shadow: 0 0 5px orangered }
   50% { box-shadow: 0 0 20px red }
   100% { box-shadow: 0 0 5px orangered }
 }

@keyframes blink_addButton {
  0% { box-shadow: 0 0 5px green }
  50% { box-shadow: 0 0 20px darkgreen }
  100% { box-shadow: 0 0 5px green }
}

.setting, .count {
  text-align: center;
  width: 350px;
  height: 400px;
  border: 2px solid grey;
  font-weight: bold;
  border-radius: 10px;
  padding: 20px;
  background: azure;
  box-shadow: 5px 5px 5px lightgrey;

}

.valueItem {
  margin-bottom: 50px;
  margin-top: 50px;
}



